name: Build Atomberg Control

on:
  push:
    branches:
      - main

jobs:
  build-macos-arm:
    runs-on: macos-26
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Install PyQt6
        run: |
          # Download and install PyQt6 wheel directly from the URL
          pip3 install wheel --break-system-packages
          pip3 install https://files.pythonhosted.org/packages/18/c4/fc2a69cf3df09b213185ef5a677c3940cd20e7855d29e40061a685b9c6ee/pyqt6-6.9.1-cp39-abi3-macosx_10_14_universal2.whl --break-system-packages
          # Also install dependencies
          pip3 install PyQt6-Qt6 PyQt6-sip --break-system-packages
          pip3 install pyinstaller --break-system-packages

      - name: Build for macOS
        run: |
          pyinstaller --windowed \
          --name="Atomberg Control" \
          control_gui.py

      - name: Install create-dmg
        run: brew install create-dmg

      - name: Create DMG
        run: |
          cd dist
          create-dmg \
            --volname "DataDash" \
            --window-pos 200 120 \
            --window-size 400 400 \
            --icon-size 128 \
            --icon "Atomberg Control.app" 100 150 \
            --app-drop-link 300 150 \
            --no-internet-enable \
            "Atomberg Control.dmg" \
            "Atomberg Control.app"

      - name: Upload macOS DMG
        uses: actions/upload-artifact@v4
        with:
          name: Atomberg Control
          path: dist/Atomberg Control.dmg